.section-center{
    max-width: 90%;
    margin: 0 auto;
    width: 90vw;
}

.banner{
    max-width: 100%;
    aspect-ratio: 3.5;
    background-size: cover;
    background-image: url(./assets/banner.png);
    background-position: center;
}
.banner-overlay{
    aspect-ratio: 3.5;
    background-color: rgba(0,0,0,70%);
}

.slides{
    aspect-ratio: 1.5;
}